constants.py
__pycache__
venv
Keys1.zip
logs
messages
main.py
archive.zip
*.pdf
lomonosov_perepiska.txt
lomonosov_perepiska_mod.txt
result_vdb_*.txt
vdb_config.json
pages_*.txt
id_*.txt
venv4langchain
*.todo